body {
  background: #fafafa;
  color: #002800;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #001e00;
}

.navbar-nav .nav-link {
  color: #d4d6d7 !important;
}

.navbar-nav .nav-link:hover {
  color: green !important;
  background-color: white !important;
}

.btn-light{
    color: green !important;
    margin-right: 50px;
}

.btn-light:hover {
    color: #002800 !important;
    font-weight: bold;
    background-color: #fafafa !important;
}


.table-hover tr:hover td, .table-hover tr:hover th {
  color: white;
  font-style: italic;
}

.card {
    padding: 10px;
}

.longtext {
    white-space: pre-line;
    text-indent: 1.5em;
    padding: 10px;
}

img.profile {
  width: 30%;
  height: auto;
}

.forms{
     width: 350px;
     margin: auto;
     margin-top: 50px;
     /*text-align: center;*/
    }

.field{
     margin-bottom: 10px;
      }

.text_info{
            text-align: center;
}
.submit_button{
     text-align: center;
     margin-top: 15px;
 }
 main.container{
   width: 450px;
 }
