{% extends "layout.html" %}
{% block content %}
	<article class="media content-section" style="margin-top: 100px">
	    <div class="media-body">
	        <div class="article-metadata">
		        <div>Книга: {{ book.Books.book_name }}</div>
		        <div>Автор: {{ book.Authors.first_name }} {{ book.Authors.second_name }}</div>
		        <div>Опис: {{ book.Books.description }}</div>
		        <div>Сторінок: {{ book.Books.page }}</div>
		        <div>Рік: {{ book.Books.year }}</div>
		        <div>Ціна: {{ book.User_books.price }} грн</div>
		        <div>Видавництво: {{ book.Publishers.publishes_name }}</div>
		        <div>Дата додавання: {{ book.User_books.data_added.strftime('%Y-%m-%d') }}</div>
		    </div>

	        
	    </div>
	</article>
	<hr>
{% endblock content %}