{% extends "layout.html" %}
{% block content %}
	{% if current_user.is_authenticated %}
		<a href="{{ url_for('add_book') }}">Додати книгу</a>
		<hr>
		{% for book in books %}
			<article class="media content-section">
	          <div class="media-body">
	            <div class="article-metadata">
	             
	              <div>Книга: <a href="{{ url_for('book', user_book_id=book.User_books.user_book_id) }}">{{ book.Books.book_name }}</a></div>
	              <div>Автор: {{ book.Authors.first_name }} {{ book.Authors.second_name }}</div>
	              <div style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap">Опис: {{ book.Books.description }}</div>
	              <div>Сторінок: {{ book.Books.page }}</div>
	              <div>Рік: {{ book.Books.year }}</div>
	              <div>Ціна: {{ book.User_books.price }} грн</div>
	              <div>Видавництво: {{ book.Publishers.publishes_name }}</div>
	              <div>Дата додавання: {{ book.User_books.data_added.strftime('%d.%m.%Y') }}</div>
	            </div>
	          </div>
	        </article>
	        <hr>
	        <!-- <div style="border-bottom: 1px black; width: 100%"></div> -->
		{% endfor %}
	{% else %}
		<h3>Інформація про наш сайт</h3>
		<div>На нашому сайті ви можете вести облік книг</div>
	{% endif %}
    <!-- <h3>Домашня сторінка із книгами:</h3>
    <ul> Книга
    </ul> -->

{% endblock content %}