{% extends "layout.html" %}
{% block content %}
     <div class="forms">
        <form method="POST" action="" >
            {{ form.hidden_tag() }}
            <legend class="border-bottom mb-4">Реєстрація</legend>
            <div class="form-group field">
                {{ form.username.label(class="form-control-label") }}
                <!-- {{ form.username(class="form-control form-control-lg") }} -->
                {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.username(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group field">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group field">
                {{ form.confirm_password.label(class="form-control-label") }}
                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group submit_button">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    <div class="text_info">
        <small class="text-muted">Уже зареєстровані? <a href="{{ url_for('login') }}">Вхід</a></small>
        <br>
        <small class="text-muted">Повернутися на <a href="{{ url_for('home') }}">головну</a></small>
    </div>
    </div>
{% endblock %}